
		
		<!-- Home page -->


          
                  
                
            
		<div data-role="view" id="donation" data-layout="jitterz-default" data-title="Pledges and Donations" data-reload="true" >
			<div data-role="content">
				<div id="dannouncements">
			
   </div>
		</div>
            </div>

        
		<!-- Home page template -->
		
<script>
   //var app = new kendo.mobile.Application(document.body, { transition: "slide", layout: "jitterz-default" });
   
   $(document).ready((function () {
      //  if(pageInitialized) return;
    //pageInitialized = true;
       
    var API_KEY = "i5W92xXH0ehHG45fi6jJtCkNszdgKXRJ6Q8kNXRHmcc77i9iOd";

    var tumblrAPI = "http://api.tumblr.com/v2/blog/jainsanghdonation.tumblr.com/posts/text?api_key=" + API_KEY + "&callback=?";

    $.getJSON(tumblrAPI).done(function (data) {
       
        $.each(data.response.posts, function (i, item) {
             $('#dannouncements').append(item.title);
            $('#dannouncements').append(item.body);
          //  $("<div>").html(item.body).appendTo("#schedule");
        });
    });
})); 
    
   
    
   
		</script>



   