

<div data-role="view" id="sutra" data-title="Sutras" data-model="sutraViewModel">
			<div data-role="content">
				<div id="sutras">
					<ul data-role="listview" id="sutra-listview" 
						data-style="inset"  data-template="sutra-listview-template" data-bind="source: sutras">
					</ul>
				</div>
			</div>
		</div>

        
		<!-- Home page template -->
		<script type="text/html" id="sutra-listview-template">
			<div><a href="media.html?id=#:pageurl#"><p   class="item-info">#:description#>></p><div class="clear"></div>
			
			</div>
                    <div class="clear"></div></a>
       
		</script>